extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  body(id='body')
    h1 URL shortener
    form(action='/shorten_link', method='POST')
      p
        |
        input(type='text', name='url', value='' placeholder="Enter the url" size="50" style="height:40px")
      p
        |
        input(type='submit', value='Shorten' style="height:40px" class="btn")
    //- h1 title 
    h1 #{title}
    
